body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h2 {
    margin-top: 30px;
}

button {
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
}

input {
    display: block;
    margin: 8px 0;
    padding: 6px;
    width: 250px;
}

.error {
    color: rgb(235, 7, 7);
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}

/* Список */
ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
    cursor: pointer;
}

#itemError {
    color: red;
    font-size: 14px;
}